<link rel="import" href="/components/polymer/polymer.html"/><!--##About component.
Based on [Polymer](https://www.polymer-project.org/) x-va-button is button with vertical animation.
##Usage
```
bower install x-va-button
```
Import component to you'r html file.
```
<link rel="import" href="/bower_components/x-va-button.html">
```
Add:
```
<x-va-button class="blue" id="first"  direction="up">
    <div id="inner">
        <div id="text">
            VA-BUTTON
        </div>
    </div>
</x-va-button>
```
**Important** - all inner content of your button must be placed in #inner tag in light dom of x-va-button.
After you must created special style to clone content of inner:
```
// If browser supports shadow selectors
#first /deep/ #clone-inner {
      font-weight: bold;
}
// Or if not
#first #clone-inner {
      font-weight: bold;
}
// I advise add both styles
```
Run browser and over mouse on x-va-button element.
@element x-va-button
@blurb Based on Polymer x-va-button is button with vertical animation.
@status demo
@url https://github.com/kysonic/x-va-button.git
@homepage https://github.com/kysonic/x-va-button.git--><polymer-element name="x-va-button" attributes="direction overflowPadding href"><template><link rel="stylesheet" href="x-va-button.css"/><div id="wrapper"><content select="#inner" id="content"></content></div></template><script src="x-va-button.js">/**
  * The 'direction' set animation direction
  *
  * @attribute direction
  * @default ''
  * @type string
  *  Options are: `up` or `down`
  */
/**
  * The 'overflowPadding' attribute set padding for overflow "window" of element
  *
  * @attribute overflowPadding
  * @default 5
  * @type int
  */
/**
  * The 'href' analog of a tag href attribute
  *
  * @attribute href
  * @default ''
  * @type string(url)
  */</script></polymer-element>