link(rel="import",href="/components/polymer/polymer.html")
polymer-element(name="x-va-button",attributes="direction overflowPadding href")
    template
        link(rel="stylesheet",href="x-va-button.css")
        #wrapper
            content(select="#inner")#content
    script(src="x-va-button.js")